@media (max-width: 750px) {
    .better {
        font-size: 30px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .secondCard {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .thirdCard {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .desktopspace {
        display: none;
    }

    .form-ish {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .spaceforFirstImg {
        text-align: center;
        margin-top: 0px;
    }

    .elipse4 {
        left: 100.23px;
        top: 280.5px;
        position: relative;
    }

    .polygon2 {
        left: 300.23px;
        top: 280.5px;
        position: relative;
    }

    .poly4 {
        top: 180px;
        left: -40px;
    }

    .poly5 {
        top: 195px;
        left: -110px;
    }

    .elipse23 {
        top: 255px;
        left: 70px;
    }

    .circle1 {
        left: 93.23px;
    }

    .polygon3 {
        left: 300.23px;
        position: relative;
    }

    input {
        width: 150px;
    }

    .rectangle2 {
        display: none;
    }

    .group90 {
        left: 50px;
        position: relative;
    }

    .rectangle3 {
        left: 12px;
        position: relative;
        top: 60px;
    }

    .elipse225 {
        left: -240px;
        position: relative;
        top: 140px;
    }

    .desktopArrange {
        display: none;
    }

    .mobileArrange {
        display: block;
    }

    .mobileArrange .icon-space {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    .mobileArrange .icons {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .desktoptext {
        display: none;
    }

    .elipse11 {
        display: none;
    }

    .courseArrange {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
    }

    .courseArrange .icon-space {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        height: fit-content;
    }

    .poly11 {
        position: relative;
        top: 1000px;
        left: 250px;
    }

    .eventArrange {
        gap: 2.5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .elipse19 {
        position: relative;
        left: 300px;
    }

    .maskgroup {
        left: 65px;
        position: relative;
    }

    .elipse20 {
        display: none;
    }

    .poly47 {
        left: -200px;
    }

    .elipse237 {
        left: -60px;
    }

    .tutors {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .rectangle11 {
        position: relative;
        left: 20px;
        top: -850px;
    }
    
    .poly35 {
        position: relative;
        left: 180px;
        top: 20px;
    }

    .elipse26 {
        position: relative;
        left: -75px;
        top: 20px;
    }
    
    .elipse24 {
        position: relative;
        left: -200px;
        top: 170px;
    }
    
    .elipse25 {
        position: relative;
        left: -50px;
        top: -35px;
    }
    
    .rectangle10 {
        position: relative;
        left: 70px;
        top: 400px;
    }

    .studentsopinion {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .elipse15 {
        position: relative;
        left: 280px;
        top: 10px;
    }
    
    .poly25 {
        position: relative;
        left: -20px;
        top: -380px;
    }

    .input {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        width: 220px;
        border: 1px solid #FFFFFF;
        height: 50px;
    }

    .subscribe {
        width: 80px;
    }


}



@media (width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .elipse4 {
        left: 550.23px;
        top: 3.5px;
        position: relative;
    }

    .rectangle8 {
        left: 23.23px;
        top: 29.5px;
        position: relative;
    }

    .polygon2 {
        left: 900.23px;
        position: relative;
    }

    .circle1 {
        left: 550.23px;
    }

    .polygon3 {
        left: 900.23px;
    }

    .rectangle2 {
        left: 980.23px;
        top: 110.5px;
        position: relative;
    }

    .mobileArrange {
        display: none;
    }

    .courseArrange {
        margin-left: 0px;
    }

    .courseArrange .icon-space {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        height: fit-content;
    }

    .desktopArrange {
        margin-left: 0px;
    }

    .elipse19 {
        left: 860px;
    }

    .rectangle11 {
        position: relative;
        left: -20px;
        top: -250px;
    }
    
    .poly35 {
        position: relative;
        left: 880px;
        top: -120px;
    }
    
    .rectangle10 {
        position: relative;
        left: 500px;
        top: 250px;
    }

    .elipse15 {
        position: relative;
        left: 900px;
        top: 10px;
    }
    
    .poly25 {
        position: relative;
        left: -50px;
        top: -80px;
    }

}


@media (width: 810px) {
    .better {
        font-size: 30px;
    }

    .poly4 {
        left: 0.5px;
        top: 190.5px;
        position: relative;
    }

    .poly5 {
        left: -70.23px;
        top: 200.5px;
        position: relative;
    }

    .spaceforFirstImg {
        margin-top: -100px;
    }

    .elipse4 {
        left: 350.23px;
        top: 3.5px;
        position: relative;
    }

    .rectangle8 {
        left: 23.23px;
        top: 29.5px;
        position: relative;
    }

    .polygon2 {
        left: 670px;
    }

    .circle1 {
        left: 350.23px;
    }

    .polygon3 {
        left: 670px;
    }

    .elipse23 {
        left: 100px;
        top: 250.5px;
    }

    .rectangle2 {
        display: none;
    }

    .group90 {
        left: 50px;
        position: relative;
    }

    .form-ish {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .rectangle3 {
        left: 12px;
        position: relative;
        top: 60px;
    }

    .elipse225 {
        left: -70px;
        position: relative;
        top: -60px;
    }

    .desktopArrange {
        display: none;
    }

    .mobileArrange {
        display: block;
    }

    .mobileArrange .icons {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .courseArrange {
        margin-left: 0px;
    }

    .courseArrange .icon-space {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        height: fit-content;
    }

    .elipse19 {
        left: 700px;
    }

    .maskgroup {
        left: 15px;
        position: relative;
    }

    .elipse20 {
        left: -200px;
        top: -30px;
    }

    .elipse237 {
        left: 100px;
        position: relative;
        top: -70px;
    }

    .desktoptext {
        display: none;
    }

    .rectangle11 {
        position: relative;
        left: -50px;
        top: -250px;
    }
    
    .poly35 {
        position: relative;
        left: 660px;
        top: -120px;
    }

    .elipse26 {
        position: relative;
        left: 145px;
        top: -170px;
    }
    
    .elipse24 {
        position: relative;
        left: -200px;
        top: 170px;
    }
    
    .elipse25 {
        position: relative;
        left: -50px;
        top: -35px;
    }
    
    .rectangle10 {
        position: relative;
        left: 400px;
        top: -50px;
    }

    .elipse15 {
        position: relative;
        left: 700px;
        top: 10px;
    }
    
    .poly25 {
        position: relative;
        left: -50px;
        top: -80px;
    }
}


@media (width: 768px) {
    .better {
        font-size: 30px;
    }

    .rectangle2 {
        display: none;
    }

    .poly4 {
        left: 0.5px;
        top: 190.5px;
        position: relative;
    }

    .poly5 {
        left: -70.23px;
        top: 200.5px;
        position: relative;
    }

    .spaceforFirstImg {
        margin-top: -100px;
    }

    .elipse4 {
        left: 350.23px;
        top: 3.5px;
        position: relative;
    }

    .rectangle8 {
        left: 23.23px;
        top: 29.5px;
        position: relative;
    }

    .polygon2 {
        left: 650px;
    }

    .circle1 {
        left: 350.23px;
    }

    .polygon3 {
        left: 670px;
    }

    .elipse23 {
        left: 100px;
        top: 250.5px;
    }

    .rectangle2 {
        display: none;
    }

    .group90 {
        left: 50px;
        position: relative;
    }

    .form-ish {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .rectangle3 {
        left: 12px;
        position: relative;
        top: 60px;
    }

    .elipse225 {
        left: -70px;
        position: relative;
        top: -60px;
    }

    .desktopArrange {
        display: none;
    }

    .mobileArrange {
        display: block;
    }

    .mobileArrange .icons {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .courseArrange {
        margin-left: 0px;
    }

    .courseArrange .icon-space {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        height: fit-content;
    }

    .elipse19 {
        left: 670px;
    }

    .maskgroup {
        left: 15px;
        position: relative;
    }

    .elipse20 {
        left: -200px;
        top: -30px;
    }

    .elipse237 {
        left: 100px;
        position: relative;
        top: -70px;
    }

    .desktoptext {
        display: none;
    }

    .rectangle11 {
        position: relative;
        left: -30px;
        top: -250px;
    }
    
    .poly35 {
        position: relative;
        left: 660px;
        top: -120px;
    }

    .elipse26 {
        position: relative;
        left: 145px;
        top: -170px;
    }
    
    .elipse24 {
        position: relative;
        left: -200px;
        top: 170px;
    }
    
    .elipse25 {
        position: relative;
        left: -50px;
        top: -35px;
    }
    
    .rectangle10 {
        position: relative;
        left: 400px;
        top: -50px;
    }

    .elipse15 {
        position: relative;
        left: 600px;
        top: 10px;
    }
    
    .poly25 {
        position: relative;
        left: -50px;
        top: -80px;
    }
}

@media (max-width: 384px) and (min-width: 360px) {
    .better {
        font-size: 30px;
    }

    .rectangle2 {
        display: none;
    }

    .poly4 {
        left: -45.5px;
        top: 200.5px;
        position: relative;
    }

    .poly5 {
        left: -115.23px;
        top: 215.5px;
        position: relative;
    }

    .spaceforFirstImg {
        margin-top: -100px;
    }

    .elipse4 {
        left: 65.23px;
        top: 290.5px;
        position: relative;
    }

    .polygon2 {
        left: 260.23px;
        top: 290.5px;
        position: relative;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 6.5rem;
    }

    .polygon3 {
        left: 260.23px;
        position: relative;
    }

    .elipse17 {
        left: 15px;
    }

    .rectangle3 {
        left: 12px;
        position: relative;
        top: 60px;
    }

    .elipse225 {
        left: -65px;
        position: relative;
        top: -55px;
    }

    .desktopArrange {
        display: none;
    }

    .mobileArrange {
        display: block;
    }

    .elipse19 {
        position: relative;
        left: 280px;
    }

    .maskgroup {
        left: 35px;
        position: relative;
    }

    .elipse20 {
        display: none;
    }

    .poly47 {
        left: -230px;
    }

    .elipse237 {
        left: 80px;
        top: -50px;
    }

    .elipse26 {
        position: relative;
        left: 140px;
        top: -180px;
    }

    .elipse15 {
        position: relative;
        left: 280px;
        top: 10px;
    }
    
    .poly25 {
        position: relative;
        left: -20px;
        top: -450px;
    }

    .input {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        width: 200px;
        border: 1px solid #FFFFFF;
        height: 50px;
    }

    .subscribe {
        width: 80px;
    }

}