header {
    background: #E8F1FF;
    color: black;
    padding: 1em 0;
    position: relative;

}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1.4rem;
    margin: 0;
    font-family: Montserrat;
    font-weight: 900;
}

.logo span {
    font-weight: 400;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #E8F1FF;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    margin-top: 15px;
    /*   display:none; */
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid white;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: black;
    display: block;
    padding: 2em 4em 2em 1.5em;

    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #E8F1FF;
    color: black
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    margin-top: 15px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

@media (max-width: 950px) {
    .site-nav {
        margin-top: 0px;
    }
}

@media (min-width: 900px) {

    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }

}

.hover-underline-animation:hover {
    -webkit-transition: 1s;
    transition: 1s;
}

.hover-underline-animation:hover {
    color: green;
}



/* SECTIONS */

.firstSectionCoat {
    background: #E8F1FF;
}

.firstSection {
    background: #E8F1FF;
}


.edu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
}

.college {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15em;
}

.better {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #080039;
}

.cards {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
}

.poly4 {
    left: 155.23px;
    top: 3.5px;
    position: relative;
}

.poly5 {
    left: 85.23px;
    top: 20.5px;
    position: relative;
}

.spaceforFirstImg {
    margin-top: -55px;
}

.elipse4 {
    left: 650.23px;
    top: 3.5px;
    position: relative;
}

.polygon2 {
    left: 1050.23px;
    top: 3.5px;
    position: relative;
}

.elipse23 {
    left: 270.23px;
    top: 65px;
    position: relative;
}

.rectangle8 {
    left: 23.23px;
    top: 3.5px;
    position: relative;
}

.circle1 {
    left: 680.23px;
    position: relative;
}

.polygon3 {
    left: 1250.23px;
    position: relative;
}


.buttonlike {
    position: absolute;
    border: 1px solid #000000;
    border-radius: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    width: 130px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.request {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #0B65EE;
}

.form-ish {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

input {
    border: 1px solid #000000;
    border-radius: 1px;
    height: 32px;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.submit {
    background: #3B50DF;
    border-radius: 1px;
    width: 80px;
    height: 35px;
    color: white;
    border: #0B65EE;
    font-weight: 400;
    font-size: 12px;
}

.rectangle2 {
    left: 1250.23px;
    top: 125.5px;
    position: relative;
}

.secondCard {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
}

.secondCard.img {
    text-align: center;
}

.contact {
    background: #3B50DF;
    border-radius: 1px;
    width: 130px;
    height: 35px;
    color: white;
    border: #0B65EE;
    font-weight: 400;
    font-size: 12px;
}

.elipse17 {
    left: 20px;
    top: 200px;
    position: relative;
}

.rectangle3 {
    left: -45px;
    position: relative;
    top: 60px;
}

.elipse225 {
    left: -280px;
    position: relative;
    top: 140px;
}

.desktopArrange {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-left: 100px;
}

.icons {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.Featured {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-align: left;
    color: #080039;
}

.icon-space h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.icon-space p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    text-align: center;
}

.icon-space {
    width: 250px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.icons .icon-space {
    text-align: left;
}

.mobileArrange {
    display: none;
}

.elipse11 {
    position: relative;
    top: 270px;
    left: -60px;
}

.course {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #080039;
}

.courseArrange {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 70px;
}

.icon-space {
    text-align: left;
}

.poly11 {
    position: relative;
    top: 830px;
    left: -80px;
}

.eventArrange {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.event-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: left;
}

.date {
    font-weight: 700;
    font-size: 14.6px;
}

.event-card h5 {
    font-weight: 700;
}

.ticket {
    color: #0B65EE;
    font-size: 15px;
    font-weight: 600;
}

.elipse19 {
    position: relative;
    left: 1000px;
    top: -50px;
}

.poly47 {
    position: relative;
    left: -260px;
}

.elipse237 {
    top: 120px;
    position: relative;
    left: -120px;
}

.elipse20 {
    position: relative;
    top: 150px;
    left: -390px;
}

.girl {
    text-align: center;
}

.thirdCard {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
}

.part2 {
    text-align: center;
}

.tutors {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.tutorcard {
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.tutorhead {
    text-align: center;
}

.prof {
    text-transform: uppercase;
    color: #4975B7;
    font-weight: 500;
    font-size: 12px;
}

.rectangle11 {
    position: relative;
    left: -80px;
    top: -250px;
}

.poly35 {
    position: relative;
    left: 1100px;
    top: -120px;
}

.elipse26 {
    position: relative;
    left: -70px;
    top: 20px;
}

.elipse24 {
    position: relative;
    left: -200px;
    top: 170px;
}

.elipse25 {
    position: relative;
    left: -260px;
    top: 170px;
}

.rectangle10 {
    position: relative;
    left: 500px;
    top: 170px;
}

.studentsopinion {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.vec2 {
    float: right;
    margin-top: 10px;
}

.line {
    line-height: 14px;
}

.studentcard {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.elipse15 {
    position: relative;
    left: 1150px;
    top: -200px;
}

.poly25 {
    position: relative;
    left: -100px;
    top: -80px;
}

.searchbar {
    text-align: center;
}

.input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    width: 350px;
    border: 1px solid #FFFFFF;
    height: 50px;
}

::placeholder {
    color: #797777;
}

.subscribe {
    height: 50px;
    background: #3B50DF;
    border-radius: 1px;
    width: 130px;
    height: 50px;
    color: white;
    border: #0B65EE;
    font-weight: 400;
    font-size: 12px;
}

footer {
    background: #E8F1FF;
    text-align: center;
}

.footerlogo {
    font-size: 1.4rem;
    margin: 0;
    font-family: Montserrat;
    font-weight: 900;
}

.footerlogo span {
    font-weight: 400;
}

div.border {
    border-bottom: 1px solid black !important;
}

span.finish {
    font-weight: 500;
    font-size: 12px;
}